<h2>All Heroines</h2>
<!-- ###new a link or button to create a new heroine
##also a sereach functions -->
<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= link_to heroine.super_name, heroine_path(heroine) %>
    </li>
    <br>
  <% end %>
</ul>
