<h2>All Heroines</h2>
<div>
<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <!--  creating a link for each super hero on the show page-->
      <%= link_to(heroine.super_name, heroine) %>

    </li>
    <br>
  <% end %>
</ul>

<%=  link_to("Create new Heroine", '') %>

<% end %>
</div>
