<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<!-- 3. The heroine show page should include the heroine's name (eg. Kamala Khan), her super name (eg. Ms. Marvel), and her power. The power should link to the power show page.  -->
    <h1><%= @heroine.name %></h1>
    <h2>Super Name:<%= @heroine.super_name %></h2>
    <h2>Power: <%= @heroine.power_id%></h2>
  </body>
</html>
